[2014-10-08 19:23] scrogson opened #2 "Ensure stanzas other than Presence, Message, and IQ don't crash the client."
When a client is signed in with a given resource and you attempt to connect another instance with the same resource, you end up with a resource conflict. You will receive the following error stanza:

[code]

This will crash the client.

[code]

Should probably just ignore when a record gets passed to `handle_stanza/2`:

[code]

[2014-12-10 18:58] amilkr opened #3 "Is there a way to send a message that is not a reply for another message?"
I mean, I would like to send a message every X seconds. But I only can send a message as a reply to another message.
Is there some function to do it? Did I missed it?

[2014-12-11 14:36] #3 closed, assigned to nobody

[2015-01-27 13:39] iamyellow opened #4 "cannot connect to MongooseIM"
hi! I'm trying to use Hedwig client but I'm finding some problems trying to connecte to MongooseIM XMPP server. I'm getting this:

[code]

The connection block is just:
[code]

[2015-01-27 14:55] iamyellow commented on #4
I found what happened!
https://github.com/scrogson/hedwig/blob/master/lib/hedwig/conn.ex#L55

if you remove the second negotiate_features everything works. but my question then is, why?

[2015-01-27 16:14] iamyellow commented on #4
it seems like the double negotiate_features call was introduced in commit 89129cddbbdf69a303795504037837fede5ab0be

[2015-02-06 17:52] scrogson commented on #4
Looking into this.

[2015-04-01 03:48] scrogson commented on #4
Ok. Sorry for the delay on this. It looks like this happens when the server isn't configured with TLS. In that case, the stream doesn't get reset, which means that feature negotiation won't happen again. I'll work on a fix for this.

[2015-04-13 14:26] msantos opened #5 ":id required for handlers with one_for_one supervisor strategy"
The example configuration in the README errors out when handlers are specified:
[code]
Works if any unique id is passed in:
[code]

[2015-04-13 18:48] #5 closed

[2015-04-13 18:48] scrogson commented on #5
Thank you for the report. Fixed on `master`

[2015-04-29 14:44] alakra opened #6 "When trying to include v0.1.0 in my project, dependency resolution for exml fails."
When trying to start a link via a new client like so:

[code]

I get the following:

[code]

I'm using the following versions of Elixir/Erlang (from `iex --version`):

[code]

What am I doing wrong? (thanks ahead of time :heart: :heart: :heart:)

[2015-04-29 18:51] scrogson commented on #6
@alakra Can you confirm if the `exml` dependency is in your `./deps`?

I think you need to manually add `:exml` to your dependencies in `mix.exs` because it's not a hex package. I'll make sure to add those details to the `README`.

[2015-04-29 19:44] alakra commented on #6
I see.  I just added that as a dependency and things are working great now.  Thanks for responding!

[2015-04-29 19:44] #6 closed

[2015-04-29 19:49] scrogson commented on #6
Awesome! Glad to help!
On Wed, Apr 29, 2015 at 14:44 Angelo Lakra <notifications@github.com> wrote:

[2015-07-20 20:00] JamesJahraus commented on #2
I also have a similar error that I think is related to this issue:
14:57:29.955 [error] Process #PID<0.157.0> raised an exception
** (BadMapError) expected a map, got: {:xmlstreamend, "stream:stream"}
    (hedwig) lib/hedwig/client.ex:78: Hedwig.Client.handle_stanza/2
    (hedwig) lib/hedwig/conn.ex:133: Hedwig.Conn.await/1

I tried to modify handle_stanza/2 as you suggested, but I did not correct

[2015-08-19 12:05] wende opened #10 "Change Client.reply/2 to Client.send/2"
I've been using Hedwig for my project lately, and I don't know how about the others but I find Client.reply/2 name pretty ambiguous, especially that it's something not related to Handler.reply/2. I guess adding new function that is called `send` instead of `reply` would be more readable and intuitive for newcomers.

[2015-08-24 17:00] wende opened #11 "More verbous error on connection failure"
Right now when hedwig fails to connect there is simpy no report about failure it just keeps silent. I guess it'd be nice to know about disconnection and it's causes

[2015-08-24 21:15] scrogson commented on #10
@iraasta yes, I agree. I need to revisit this very soon. Thanks for bringing it up :+1:

[2015-08-24 21:16] iraasta commented on #10
Also I wanted to thank You because this library was extremely useful for me lately :)

[2015-08-24 21:18] scrogson commented on #11
@iraasta yeah, I made it so that if it loses connection for whatever reason, that it would just keep trying over and over. I may need to revisit that.

[2015-08-24 21:46] scrogson commented on #10
Excellent to hear :smile:

[2015-09-02 08:38] awenger opened #13 "Outdated Readme"
[code]

[2015-09-02 14:21] scrogson commented on #13
@awenger, sorry the README is actually up-to-date with the master branch. I should get a new release out soon. Sorry for the confusion.

[2015-09-06 18:33] iamyellow opened #14 "about max #connections"
hi! before all, thanks for your work... i have an eye on this project since almost its first day, very well written, and having a xmpp client somehow proxied server-side is very good/clever idea. congrats for that!

i'm not a sysadmin guy and don't have networking knowledge enough to find an answer by myself, so i'd like to ask you something that maybe is pretty basic. AFAIK there's a max number o

[2015-09-08 19:08] scrogson commented on #14
@iamyellow thank you for the kind words.

You bring up a fantastic problem! I'm not very knowledgable in this area, but I am at least familiar with it.

The websocket connections would be from a browser client to your phoenix server and then the hedwig clients would connect to ejabberd. So the limit would be in the connections between hedwig and ejabberd.

I believe it ultimately comes down to fil

[2015-09-08 21:55] scrogson commented on #13
@awenger I have released `v0.2.0` which reflects the `README`.

[2015-09-08 21:55] #13 closed

[2015-09-10 15:55] iamyellow commented on #14
pleased my question helps to improve this work :)
it could be interesting to try what will happen with the limits dockerizing both ws server and ejabberd, maybe a container 'reset' the limit so we can have both services in the same machine. i'd like to push hardware to its limits hehehe

[2015-10-01 20:18] nrio0 opened #17 "Reply to IQ requests"
According to [RFC 3920](http://tools.ietf.org/html/rfc3920#section-9.2.3):

[code]

I noticed this error when I enabled [XEP-0199](http://xmpp.org/extensions/xep-0199.html) in ejabberd. The server sends a number of ping IQs, but the client doesn't react. After multiple IQ stanzas have been left unanswered, the connection is closed.
I briefly looked at how SleekXMPP handles such IQ stanzas if the p

[2015-10-06 15:26] TBK145 opened #18 "Domain issue in connecting"
I've got a pretty strange problem.
The JID of my account is ``foo@bar.nl``, and the server is ``foo2.bar.nl``. I had this all stored in the config map.
However, the server would always reject the connection after the ``auth`` stanza.
I finally found out that it was because in the first ``stream:stream`` stanza it should say ``bar.nl`` instead of ``foo2.bar.nl`` in the ``to`` attribute.
Currently I

[2015-10-06 18:49] scrogson commented on #17
Hello @nrio0,

This could easily be handled by adding a handler that responds to the incoming `IQ` stanza. Something like this:

[code]

Let me know if you need any further help.

[2015-10-06 18:49] #17 closed

[2015-10-06 19:03] scrogson commented on #18
Ah, I think I see the problem. Let me push a fix and have you test it out.

[2015-10-09 07:56] TBK145 commented on #18
So what would be the problem? The ``to`` attribute shouldn't use the subdomain?

[2015-10-13 22:13] #18 closed

[2015-12-06 17:29] awenger opened #23 "Connect with TLS"
I'm trying to connect to the GCM XMPP Connection Server [1] with Hedwig. They require a TLS connection and don't support STARTTLS [2]. I tried different combinations in the config but it won't connect.
[code]
However, if I replace `:gen_tcp` with `:ssl` in the `Hedwig.Transports.TCP` module the connection is established without errors. Is there some settings to force such behavior in the config?

[2015-12-06 18:40] scrogson commented on #23
@awenger thanks for the report. At this time, this is not configurable, but it certainly should be. I'm currently in the middle of rewriting Hedwig so I won't be able to address this right now.

[2015-12-06 19:47] awenger commented on #23
Happy to hear that this will be supported in a future version. Thanks for the lib. For the time being manually replacing `:gen_tcp` with `:ssl` is a manageable workaround for me.

[2015-12-07 02:31] scrogson commented on #23
Excellent. I am currently working to make Hedwig more generic (adapter
based). The first adapter will be XMPP of course :)

I would love some feedback once it's ready.
On Sun, Dec 6, 2015 at 20:47 awenger <notifications@github.com> wrote:

[2015-12-07 11:26] awenger opened #24 ""connected" method/callback in handler"
It would be nice to have the capability in a Handler to be informed after the connection is established. For example messages that are send via `Hedwig.Client.reply(client, msg)`,before the client is connected, seem not to be delivered.

[2015-12-07 11:48] scrogson commented on #24
I have addressed this in my rewrite :)
On Mon, Dec 7, 2015 at 12:26 awenger <notifications@github.com> wrote:

[2015-12-07 13:51] awenger commented on #24
perfect :)

[2015-12-12 14:50] #24 closed

[2015-12-16 07:41] scrogson commented on #23
@awenger thanks again for the report! I've created an issue on scrogson/romeo#2 to address it.

[2015-12-16 07:41] #23 closed

[2015-12-16 07:41] #14 closed

[2015-12-16 07:46] scrogson commented on #11
@wende I've addressed this in the new XMPP client lib [Romeo](https://github.com/scrogson/romeo). Hedwig has been completely rewritten and is no longer XMPP specific. I will be adding more docs and updating the changelog, so make sure to check those out for more details. Hope you like :)

[2015-12-16 07:46] #11 closed

[2015-12-16 07:46] #10 closed

[2015-12-16 07:46] #2 closed

[2016-01-08 16:13] docteurklein opened #25 "is there a notion of a brain?"
If I want to store some information between two messages, what should I do?

Should I use an Agent?

[2016-01-08 17:38] docteurklein opened #26 "the robot does not seem to react to messages sent by himself"
I'm not exactly sure why, but I'd like this to implement the `!!` operator.
[code]

Currently, the bot sends the message, it is displayed, and the logs show it has arrived.
But the bot does not react. It seems to ignore himself.

Any ideas?

[2016-01-08 18:39] scrogson commented on #26
I'm not sure I understand what you're trying to do. Wouldn't that cause a loop?

[2016-01-08 18:40] scrogson commented on #25
Probably either an Agent or just use ETS for now. I'm still working out how I want to support that. Can you give me a scenario of how you would expect it to work?

[2016-01-11 08:51] docteurklein commented on #25
I'm using it like that: https://gist.github.com/docteurklein/791fdc5921d3ef838e64

works OK for my use case.

[2016-01-11 08:54] docteurklein commented on #26
it wouldn't.
I really only want the bot to re-interpret the last thing I messaged him.
So if I message him "!!", he should execute any responder that matches the last message I sent him.

There is an implementation of that in hubot, I just can't find the sources yet.

[2016-01-11 17:35] scrogson commented on #25
Yeah, this looks pretty good. I had started working on an `Agent`-based brain earlier, but decided to punt it for later. I know that many people will want to deploy their bot(s) to something like Heroku, which both `Agent` and `ETS` will not be a good solution as the dynos are rebooted at least once a day. So I'd like to make an adapter-based storage solution.

[2016-01-11 17:50] docteurklein commented on #25
Sure. An interface/protocol for the brain api would be perfect.

[2016-01-11 18:01] scrogson commented on #25
Cool..I'll start on one this week.

[2016-03-09 14:56] jwarlander commented on #26
Shouldn't that just be a case of saving history in a separate process? Then '!!' could just query the latest history entry, and '!43' could re-apply entry #43, etc. It's probably better to feed it back to the bot internally, than take the indirect route over the chat room.

If the bot were to trigger on its own messages, it would indeed be very easy to cause a loop..

[2016-03-09 15:10] docteurklein commented on #26
@jwarlander Agreed, and that's how I tried to implement it.

I have implemented a brain, (that is a simple KV store, named process).
I have a responder that hears any command (and store the last thing he hears in the brain).
I have another responder that listens to "!!" and answers with last command retrieves the last heard thing.

Strangely, edgar does not react to the last message (sent by himse

[2016-03-09 18:03] scrogson commented on #25
Just following up. I haven't had much time lately. If you are interested in helping to flesh out an adapter-based brain, feel free to start a PR.

[2016-03-10 07:57] docteurklein opened #32 "how to deploy to heroku?"
I'm blindly trying to have a working Procfile.
However the "web" process type does not seem to work.
I tried:

[code]

and
[code]

same effect. no logs, nothing.

Do you have any experience regarding heroku deployment?
PS: i'm using:

[code]

[2016-03-11 19:53] meatherly commented on #32
Heroku kills web apps if they don't respond to $PORT in 60 seconds. see: https://devcenter.heroku.com/articles/error-codes#r10-boot-timeout

I would just write a simple cowboy process that listens to and set to port to `System.get_env('PORT') || 4000`

[2016-03-17 09:04] docteurklein commented on #32
@meatherly thanks for the tips!
I know about the "web" process specificities, but it amazes me that heroku forces you to create a useless web process just to let other dynos live.

From what I read here https://devcenter.heroku.com/articles/run-non-web-java-processes-on-heroku it seems we could run whatever long-running process without any web process.

Thoughts?

[2016-03-17 12:21] bbrock25 commented on #32
@docteurklein is there a reason why you cannot use a worker process? I have an elixir chat bot running as a worker on heroku that has stayed alive for months now without a web process.

[2016-03-17 12:25] docteurklein commented on #32
@bbrock25 thanks for the feedback
I tried at first to define a worker process only, but didn't get it to work.
What does your Procfile look like, and how are you starting it?
I tried with

    bot: mix run --no-halt

and then push to deploy.

[2016-03-17 12:26] docteurklein commented on #32
EDIT: i just tried to run it with `heroku scale bot=1` and it seems to work. Still not sure why it doesn't at git push.

[2016-03-17 12:27] bbrock25 commented on #32
You probably needed to turn the worker on before it would automatically deploy. I'd imagine that deploying with git push should be fine now.

[2016-03-17 12:34] docteurklein commented on #32
@bbrock25 thanks!
I didn't notice you added your Procfile, sorry to ask again how it looked like.
Anyway, I guess I can close this issue now?

[2016-03-17 12:46] #32 closed

[2016-03-21 21:32] derhackler opened #34 "How to actively send messages?"
Hi,

I'm currently trying to build an agent, that is supposed to actively send messages to a HipChat room when certain EC2 instances are running that shouldn't run.

Replying works fine (in the responders), but how can I send a message via the agent actively? I tried:

`Hedwig.Robot.send(pid, %{text: "hello world"})`

This crashes my agent with a match error.

Best,
Benedikt

[2016-03-22 08:28] jwarlander commented on #34
You'll have to give it a `%Hedwig.Message{}` struct; the below works fine for me:

[code]

[2016-03-22 15:07] scrogson commented on #34
Thanks for answering @jwarlander!

@derhackler let me know if this doesn't solve your issue.

[2016-03-22 15:07] #34 closed

[2016-03-22 16:08] derhackler commented on #34
Works perfectly! Thanks @jwarlander!

[2016-03-22 16:48] jwarlander commented on #34
I documented this at work just a few days ago, so the information was already at my fingertips.. ;)

[2016-03-25 09:44] docteurklein opened #36 "Document how to create ExUnit tests for a responder"
I'm currently having problems to create tests for my user-land responders.
I tried to copy `Hedwig.Responders.HelpTest`:

## working responder example:

[code]

## test

[code]

## result
[code]

Hope my question is not too dumb :)
Cheers o/

[2016-03-25 13:51] docteurklein commented on #36
EDIT: I just noticed you recently (january :)) moved TestRobot and RobotCase in lib, which makes them available when downloaded from hex.
It resolves the module loading problem (I updated the issue accordingly), but i still get the same error concerning the empty mailbox.

[2016-03-25 15:27] keathley commented on #36
We sorted this out in Slack but I thought I would add the comments here for historical reasons. You're missing the `responders:` config in your `@tag`. It should read something like: `@tag start_robot: true, name: "edgar", responders: [__MODULE__]`.

It might be worthwhile to add some documentation about this in the README or in module docs to help others avoid this problem in the future. We also

[2016-03-25 15:58] docteurklein commented on #26
I still didn't get it to work, but I'll post my attempts here.

Instead of making a round-trip and let the bot hear what he just said, I tried to directly ask him to interpret what was stored:

[code]

getting an error:

[code]

Any idea how I should implement that?

[2016-03-25 17:40] #36 closed

[2016-03-25 18:20] scrogson commented on #26
@docteurklein what about calling `Hedwig.Robot.handle_message/2` ?

https://github.com/hedwig-im/hedwig/blob/master/lib/hedwig/robot.ex#L183-L185

[2016-03-25 18:40] scrogson commented on #26
And it looks like in your case that `Hedwig.whereis("edgar")` is returning `:undefined`. So it's not registered.

You should probably store the whole message in your brain process, instead of just the matches. Then you can run the whole message through `Hedwig.Robot.handle_message(robot, msg)`

[2016-03-25 18:42] scrogson commented on #26
Looks like the `Console` adapter doesn't register the bot...so that's why you're getting `:undefined`

[2016-03-25 23:04] docteurklein commented on #26
Thanks! I will try your propositions.

[2016-03-25 23:31] docteurklein commented on #26
`Hedwig.Robot.handle_message(robot, msg)` is casting, so I just get `:ok` as a return value.
How could I get what is sent back by the responder that matches `msg` ?

[2016-03-25 23:55] docteurklein commented on #26
mmh, now I get  a working test with this code, but not with the console adapter:
[code]

Not sure I'm on the good path.

[2016-03-26 05:57] scrogson commented on #26
The bot is now registered in the console adapter under the `:name` field in the config.

https://github.com/hedwig-im/hedwig/commit/5f91e1d311319045cdc4e5b6ce53f036710e0525

[2016-03-26 06:23] scrogson commented on #26
Ok...so I"ve been able to get this all working...

[code]

Here's the `NotNot` responder:

[code]

[2016-03-26 10:09] docteurklein commented on #26
Awesome! may thanks. Closing now.

[2016-03-26 10:10] #26 closed

[2016-03-27 21:28] jeffweiss commented on #25
I have a bananas idea of using [riak_dt](http://docs.basho.com/riak/latest/dev/using/data-types/) as an adapter backend, because, well, no reason in particular other than I ought to learn about it... But, it did illuminate some potentially useful Brain operations not previously discussed:

* increment/decrement counter
* add to/remove from set/map

All of which should be relatively straightforward

[2016-04-01 20:40] knewter commented on #25
@jeffweiss I'm trying to wrap my head around the need for a brain.  I started out thinking I needed one, and instead just wrote an OTP app that my bot was an interface for.  Is there a use case that this doesn't fit?

[2016-04-01 20:55] scrogson commented on #25
Hey folks. While the concept of a brain may be necessary for things like hubot, I'm not currently convinced that we need it for hedwig.

I'm definitely still open to the idea, but until we run into an issue where we absolutely need one, I'm going to call this one closed.

[2016-04-01 20:55] #25 closed

[2016-04-01 21:10] scrogson opened #38 "Changes to Hedwig.Message"
Hey Hedwig adapter folks!

@jwarlander @bryanjos @jeffweiss

I've just pushed some changes to Hedwig based on some irritations I found with my implementation and I wanted to get things squared up before pulling the trigger on `1.0`.

Here are the changes: https://github.com/hedwig-im/hedwig/commit/18273f14fb8a6d5869551f0c7a3d2eebb2b3662a

All you'll need to do for your adapters is remove the `adap

[2016-04-01 21:41] jeffweiss commented on #38
@scrogson :+1: corresponding change in hedwig_irc is jeffweiss/hedwig_irc@43e414435bdbead002113a7e889a9d8168806f2e

[2016-04-01 22:54] bryanjos commented on #38
@scrogson :+1: works perfectly!

[2016-04-06 01:06] #38 closed

[2016-04-19 04:49] jeffweiss opened #40 "Send files/attachments"
For a few days I've been prototyping a hedwig-based bot connected to our internal data mart. I've begun to get requests from folks for more complicated responses, and in some cases requests for file attachments.

## Example of current situation

[code]

This might work fine for a small-ish responses, but pretty quickly becomes unwieldy. And if the folks using hedwig responses are plugging into to

[2016-04-19 13:55] scrogson commented on #40
@jeffweiss I love this idea! I'll start thinking about an API for this.

[2016-05-31 19:53] cheeyeo opened #42 "undefined function Alfred.Robot.send/2"
Hi

I have followed the intro and created Alfred.Robot and I'm trying to get the bot to send messages from an OTP app.

Even though I can locate the bot using Hedwig.whereis("alfred"), it keeps crashing with the following error:

[code]

I'm not sure what I am missing??

The send function should be defined?

[2016-06-01 21:13] supernullset opened #43 "I created a Flowdock adapter"
Hey everyone, I built a [Flowdock](https://www.flowdock.com) adapter which you can see [here](https://github.com/supernullset/hedwig_flowdock) which is still very much WIP, but is working. Im interested in getting it moved over to the hedwig-im organization so that it can be found more easily! What can I do to help out?

Also, thanks to @jeffweiss for encouraging me to make an adapter after his pr

[2016-06-01 21:23] supernullset opened #44 "[Feature Request] Add a catch all field to the Message Struct"
The [Flowdock](www.flowdock.com) API provides a way for messages to be posted to a particular thread, which is one of the defining features of the product. As far as I can tell, there is no way in the Message struct to keep a reference to a message's thread so that replies can be appended to a thread as opposed to the main room. Is it possible to add a catch all field to the message which can just

[2016-06-01 22:45] scrogson commented on #43
@supernullset, exciting to hear folks are starting to build other adapters!

I'm currently not interested in moving adapters into the hedwig-im org. This would end up becoming more of a burden for me (managing issues and PRs  for code I have not written). I would much rather have a list of adapters added to the README.

Also, all adapters should follow the `hedwig_<adapter>` naming convention, and

[2016-06-01 22:45] #43 closed

[2016-06-01 22:50] scrogson commented on #44
Hey there @supernullset,

The `%Message{}` struct has a key for just such things: https://github.com/hedwig-im/hedwig/blob/master/lib/hedwig/message.ex#L27

Give that a try and let me know if it doesn't work for you.

[2016-06-02 00:32] supernullset commented on #43
@scrogson Thanks for the quick reply! Ill make sure that i'm following the naming convention. Shall I open up a PR for updating the README once I upload the package to hex.pm?

[2016-06-02 00:33] supernullset commented on #44
@scrogson Thanks for pointing me in the right direction! This should work just fine.

[2016-06-02 00:33] #44 closed

[2016-06-02 13:42] scrogson commented on #43
Yes! Please do!

[2016-06-03 16:08] cheeyeo commented on #42
After further investigation, it does not appear this is due to the fact that I'm using the console adapter.

The same error appears when using the Hedwig Slack adapter too:

[code]

[2016-06-03 21:36] scrogson commented on #42
Hi there @cheeyeo, you're looking for `Hedwig.Robot.send/2`. It takes the `pid` of the robot and a `%Hedwig.Message{}`.

Hope that helps.

[2016-06-11 08:32] #42 closed

[2016-07-19 22:18] enilsen16 opened #49 "Support multiple configurations of the same adapter"
For example --
[code]

[2016-07-21 04:02] scrogson commented on #49
Hi @enilsen16,

Hedwig already supports dynamic configuration at runtime. Check out [this section](https://github.com/hedwig-im/hedwig#starting-bots-manually) in the README. I believe the only thing that is compile-time is the adapter. So you can simply pass in a `name: "Eva"` into the options and it will be merged with the what's in your config.

What you are suggesting is just not possible.

[2016-07-21 04:02] #49 closed

[2016-08-11 16:32] colinrymer opened #51 "Hedwig.whereis/1 not working"
A bot started with `Hedwig.start_robot/2` or through the supervision tree doesn't register as a named process.

If you try calling `Hedwig/which_robots/0`, you get a return that looks like:

[code]

[2016-08-11 17:33] scrogson commented on #51
Hi @colinrymer, the README is currently incorrect. Previously, I was auto-registering clients and have since removed that in order to ensure more flexibility.

The current solution is to do this in the `after_connect/1` callback in your robot module.

[code]

Sorry for the confusion. I'll update the README.

[2016-09-07 15:39] scrogson commented on #51
Updated the README. Thanks for the report @colinrymer!

[2016-09-07 15:39] #51 closed

[2016-09-19 06:06] bossyang opened #53 "Can't compile responder when there are chinese characters in regular expression"
[code]
[code]

[2016-09-19 14:29] scrogson commented on #53
@bossyang, thanks for reporting this issue! I'll look into a fix today.

[2016-09-19 17:34] scrogson commented on #53
@bossyang can you please try `master`?

[2016-09-20 02:39] bossyang commented on #53
It can compile now. And the mix.exs is as follows
[code]

[code]

[2016-09-22 23:27] scrogson commented on #53
Cool...looks like we're good now! Thanks for verifying.

[2016-09-22 23:27] #53 closed

[2016-10-03 17:05] scrogson opened #56 "Document return values from `handle_in/2`"
This functionality has been implemented already and is in master. Needs documentation.

[2016-10-10 13:37] stevegrossi opened #57 "What is the recommended alternative to `ignore_from_self?`"
I see there was an `ignore_from_self?` option in `0.1` that appears to have been removed. Is there another recommended way to prevent Hedwig bots from getting stuck in loops responding to themselves?

Here is [how I implemented this myself](https://github.com/indyelixir/elix/blob/master/lib/elix/responders/guys.ex#L33), but I wonder if Hedwig still provides a way.

[2016-10-10 13:47] scrogson commented on #57
Hi @stevegrossi, that functionality should be handled in the adapter you're using. In the case that it is not, you can handle it in the `handle_in/2` function in your robot module.

I've made some recent changes on master that allow the user to have full control over whether a message should be dispatched to the responders or not. But I'm not sure if the Flowdock adapter author has updated it to w

[2016-10-10 14:15] stevegrossi commented on #57
Thanks for the direction! I don't think the Flowdock adapter has been updated for this, so I'll look to contribute there.

And thanks so much for your work on Hedwig. It's been a blast to learn and use, and our chatbot has been a great way to get folks from my local Elixir meetup involved in writing Elixir code 👍

[2016-10-10 14:15] #57 closed

[2016-10-12 09:46] dch opened #58 "how to test responders?"
While most of the responder code I'm writing is super simple, I'd still like to be able to add some doctest-style tests. Is there any way to do this?

[2016-10-12 22:27] scrogson commented on #58
Hey @dch, I've got a section in the README on testing responders. Let me know if you need anything else.

[2016-10-13 07:26] dch commented on #58
#facepalm how embarrassing for me to miss that

[2016-10-13 07:26] #58 closed

[2016-11-17 11:02] stevegrossi opened #59 "Process registration: `handle_connect` not being called?"
I've been following the README down through the [Registering your robot process](https://github.com/hedwig-im/hedwig#registering-your-robot-process) section in order to register a robot's process by name, but `handle_connect` doesn't appear to be called and the registration never happens.

This is with the latest master, on Elixir 1.3.4 and Erlang 19. A demo repo is here: https://github.com/steveg

[2016-11-17 14:24] scrogson commented on #59
@stevegrossi, yes, you are right. Looks like I failed to update the `Console` adapter. Sorry about that.

I'll get a fix pushed shortly. Thank you for the report!

[2016-11-17 15:03] #59 closed

[2016-11-17 15:05] scrogson commented on #59
@stevegrossi, thanks so much for the report. I really appreciate that. I've pushed up a fix in 112614f.

[2016-11-18 00:11] stevegrossi commented on #59
Confirmed working! Thanks for addressing this so quickly.

[2016-11-19 09:04] michalmuskala opened #60 "Double supervision"
There exists a subtle issue with Hedwig robot's because of how they are started.

The `start_link` function will start the robot under hedwig's supervisor. At the same time it's recommended to put the robot in the user's supervision tree. This causes the robot process to be supervised by two supervisors, which can lead to errors during code upgrade. There are no errors when the robot is restarted,

[2016-11-19 09:09] michalmuskala opened #61 "Make Robot a real OTP behaviour"
Currently the `Hewdig.Robot` module masquerades as a pseudo behaviour through macros and injection of code into the user's module. This has couple issues, most notably the robot cannot be started twice - for example with different adapters - to handle traffic from two different networks. This limitation prevents me from using the library in it's current shape.

The `Hedwig.Robot` should be made a

[2016-11-19 15:36] scrogson commented on #60
Hey @michalmuskala, thanks for catching that. I'll work on fixing it.

[2016-11-19 15:48] scrogson commented on #61
@michalmuskala - Yes I agree. I have thought about this many many times.

I appreciate your willingness to help, but this would be something I would prefer to do myself as I have been wanting to do for a while now.

I would definitely appreciate feedback though. Sound good?

[2016-11-19 16:33] michalmuskala commented on #61
I totally understand that. If you have some questions or code you'd like me to review, just ping me.

[2016-11-19 16:35] scrogson commented on #61
I sure will. Thanks for understanding.

I'm going to release `v1.0.0` and then begin on this change for `2.0`.

[2016-11-19 17:15] #56 closed

[2016-12-29 17:19] Sireeni opened #63 "Making a tutorial / howto regarding adapters"
As asked on Twitter, I'm opening this issue. This will also help me clarify what I mean by "a tutorial".

Although the API is quite small, perhaps the authors of the official adapters could write a document about the preferred architecture of an adapter and the best practices (OTP applications, helpful 3rd-party libraries, etc).
ping @scrogson :)

[2017-02-21 20:52] wasnotrice opened #64 "A single message can trigger multiple responses"
Hi, thanks for Hedwig. I've learned a lot from it already :)

I have a bot that I want to respond to both overheard and direct messages of the same kind, but respond differently to direct messages. For example:

[code]

If I add both a `hear` and a `respond` handler that match the same message shape, then for direct messages, both handlers are triggered, which feels weird in the chat:

[code]

Ide

[2017-02-28 22:01] behind-design commented on #63
@ghost have you got anywhere with this?
I was trying to find some kind of documentation about adapters so we can write our own and maybe contribute to the "adapters ecosystem" of Hedwig.

But so far no luck ;(

[2017-02-28 22:08] scrogson commented on #63
This is definitely on my radar. But it may be something I will tackle for 2.0 as the Adapter API may change in the future.

At the moment, you could have a look at /hedwig-im/slack and /hedwig-im/xmpp as examples for implementing an adapter.

The current adapter behaviour is very small but I agree it isn't documented properly.

[2017-02-28 23:04] behind-design commented on #63
@scrogson Thanks for the quick response!
I'll keep an eye for it then!!

And again thank you for the good work on Hedwig!

[2017-02-28 23:19] behind-design commented on #40
@scrogson I'm wondering if it would be possible to delegate somehow the `message` to the adapter. As each service has its own types of messages. For example in telegram, to mention one, you can send keyboards.

I'm really asking, as a clarification for a doubt I have, I don't know if it's already in Hedwig. But I'd be a really nice API if not.

Currently at work we've developed something with AWS,

[2017-03-07 15:57] scrogson commented on #64
@wasnotrice can you show me your regexes for your `hear` and `respond`? You may just need to build them with a bit more care.

The way the responders work is completely async. Each incoming message is dispatched to all responders. If a message matches a responder it will be run.

[2017-03-07 16:08] scrogson commented on #40
@behind-design what exactly do you have in mind?

The response messages **do** make their way back to the adapter which is responsible for transforming the `%Hedwig.Message{}` into whatever is required for the underlying service.

[2017-03-09 10:29] foldericon opened #66 "Crash when trying to create a secure connection"
So my SMTP server is listening on localhost and I chose `.plain` for the secure option.
Nonetheless, Hedwig tries to establish a TLS secured connection when the server supports it.
And that's where my crash occurs. One of the parameters you pass to `TLS.Socket`in your `starttls` method is nil and gets force unwrapped later. I hope that helps fixing the issue, but you should also consider changing

[2017-03-10 21:02] scrogson commented on #66
@foldericon I'm not following how this has anything to do with Hedwig itself. Can you explain in more detail?

* Which version of Hedwig are you using?
* Which adapter are you using?

[2017-03-10 21:28] foldericon commented on #66
Oh shit, I'm sorry, this is the wrong project, I meant https://github.com/onevcat/Hedwig
I should just go to sleep next time.

[2017-03-10 21:28] #66 closed

[2017-03-10 21:29] scrogson commented on #66
No worries, thanks.

[2017-03-15 18:27] wasnotrice commented on #64
@scrogson here's an example set of hear/respond invocations with regexes:

[code]

As you see, the regexes are the same. I guess my confusion comes from the fact that I don't expect the `hear` responder to fire in the case where the regex matches, but the message is addressed to my bot. In that case, I only expect the `respond` responder to fire. Likewise, if the regex matches, but the message is

[2017-04-05 00:19] scrogson commented on #64
@wasnotrice re-writing your `hear` responder to this should work:

[code]

That would ensure that it would only respond if the message begins with `let`.

In any case, I guess I would need to see where other use-cases might really require a different implementation than I currently have.

[2017-04-11 16:59] scrogson commented on #64
@krekbot,

Gotcha. I will work on a solution. Thanks.

[2017-04-11 17:02] wasnotrice commented on #64
@scrogson thanks! happy to pitch in and/or draft something if its helpful :)

[2017-05-17 21:13] sntran commented on #63
I'm in the process of writing an adapter for Hedwig. Should we use the Wiki for now to document the process? I can add notes as I go.

[2017-06-22 17:29] scrogson commented on #63
@sntran feel free to create a wiki page.

[2017-06-26 10:03] ryanwinchester opened #69 "enter responder macro"
hubot has `enter` and `leave` macros that can be very helpful.

well, at least the `enter` one is.

any plans on adding one?

[2017-08-18 04:39] scrogson commented on #69
I've thought about these, but I've never really had a practical use-case for them. If you could outline what you'd expect from such macros and how they would be used, I could see if I can work that into the plans for 2.0.

[2017-08-18 04:52] ryanwinchester commented on #69
one example would be, when someone enters, the bot could greet them. there are some use-cases where we'd want to greet and give some instruction, or rules, or links to resources, etc

[2017-08-18 05:09] scrogson commented on #69
@ryanwinchester is this usually a one-off action? Would you actually want to define more than one of these type of responders?

I'm curious if this would make more sense for a callback in the robot module instead?

[code]

[2017-09-11 15:29] iref commented on #40
I was wondering if `type` field on `%Hedwig.Message{}` would be enough to distinguish if responder wants to send normal message or message with attachment (e.g. Slack 'message.attachment' type) or file. Adapters can use pattern matching to compose message needed for their specific messaging protocol.

Is this good idea? I am Elixir/Erlang beginner, so I am not sure if there is better/more idiomati

[2017-09-19 21:29] keathley opened #74 "hot code reload responders when in dev mode"
It would be rad to re-compile responder modules in development mode to reduce the feedback loop instead of having to stop and start the robot.

[2017-09-19 21:31] keathley opened #75 "Use up and down arrows for history in console adapter"
This is something that I find myself doing out of habit. It would be really nice to use the up and down arrows to iterate through the previous command history to make it easier when developing responders.

[2017-09-19 21:32] scrogson commented on #75
Yeah, this would be nice. We'll probably need to use the `tty_sl` driver for this?

[2017-10-05 12:56] bossyang commented on #69
And what about `catchAll` listener in Hubot?

[code]

[2018-01-08 11:38] PhillippOhlandt opened #79 "Reconnect does not work"
Hey,

I am using Hedwig with the IRC adapter on a Slack channel. I noticed that Slack sometimes sends a `:disconnected` message which is unhandled. So I extended the IRC adapter with the following function:

[code]

And my robot module contains:

[code]

So when I start the bot with a slightly wrong configuration (so Slack disconnects me right away) I get the following:

[code]

As you can see, my

[2018-01-08 11:48] PhillippOhlandt commented on #79
Short workaround is to just let it crash™.

[code]

[2018-01-08 15:27] scrogson commented on #79
@PhillippOhlandt it appears that the IRC adapter is not up-to-date with Hedwig 1.0. It's still using `rc.3`. It's possible that it isn't handling those messages properly.

[2018-01-08 15:30] PhillippOhlandt commented on #79
@scrogson Ah that could explain it. Unfortunately, I don't think the maintainer will update it anytime soon. I think about cloning it and making a special version for the Slack IRC Bridge.

BTW, how is Hedwig 2.0 going? I saw the PR.

[2018-01-08 16:35] scrogson commented on #79
@PhillippOhlandt I work with the author...I'll ask if he wouldn't mind updating it.

As for 2.0...I haven't had much time to work on it recently. But now that you're asking...I might try to find time to finish up that PR soon :wink:

[2018-01-08 16:51] PhillippOhlandt commented on #79
No pressure, everything works fine right now (even with the reconnect workaround) :)

[2018-01-24 20:03] brienw opened #80 "`hedwig` package published on hex is out of date"
It would be great if you could publish a new package that includes the deprecation fixes in #71 and #73

[2018-01-26 20:05] scout119 commented on #80
and fixes for all the warnings when compiled with Elixir 1.6

[2018-01-26 20:25] scrogson commented on #80
Done: https://hex.pm/packages/hedwig/1.0.1

[2018-01-26 20:25] #80 closed

[2018-01-26 20:41] brienw commented on #80
Thank you @scrogson!

[2018-01-26 20:46] scrogson commented on #79
@PhillippOhlandt can we call this closed then?

[2018-01-27 21:46] PhillippOhlandt commented on #79
@scrogson I think so since this needs to be fixed in the adapter (if not already).

[2018-01-27 21:46] #79 closed

[2018-01-29 20:45] dysnomian opened #81 "Defining adapter-dependent actions"
tl;dr I'd like to use Slack-specific features like ephemeral messages in my responders, and I'm not sure the best approach for it. Is there a place to talk about hedwig? IRC, Gitter, Slack?

The long version:

The Slack bot in question currently uses [elixir-slack](https://github.com/BlakeWilliams/Elixir-Slack), which provides a few functions that aren't currently covered by Hedwig. For example, i

[2018-01-29 21:30] scrogson commented on #81
@dysnomian thanks for reaching out!

I'd love to hear a little bit more detail about what changes you would need to make in order to support your use-case. I've only ever used and intended to use the RTM API for the Slack Adapter.

Since responders are invoked asynchronously they can do anything practically anything you want already. So if you need to reply to a message via the Web API, you can do

[2018-03-26 01:26] matthewoden commented on #81
So I've been working around similar issues - one thing that'd be great would be access to the original message. Threading via the Web API needs fields that aren't on the Message struct.

[2018-04-19 12:23] fire commented on #63
Debugging https://github.com/fire/hedwig_discord 's inability to reply to messages and was wondering if the logic for replying to responses is described anywhere?

[2018-05-26 16:30] electricshaman commented on #61
I'd love to see this for 2.0 as well.  I just ran into another issue that stems from this, where a race condition exists due to the global name registration being deferred until `handle_connect` in the Robot behavior.  Ideally this would be in `start_link` but that function is part of the code being injected and can't be overridden.  I'd even settle for `init` but it's also being injected.

[2019-04-18 17:58] lambdadog opened #82 "Support multiple AKA fields"

[2019-05-29 22:56] praveenperera opened #83 "Ability to listen but not respond"
I would like to create an IRC logger I would like to do something like this

[code]

But if I do this write now each message causes the gen server to die because the hear macro does not end with an emote, reply and send

[2019-05-29 22:59] scrogson commented on #83
@praveenperera the responder just needs to return `:ok`.

[2019-05-29 23:00] praveenperera commented on #83
Perfect that works @scrogson thanks!

[2019-05-29 23:00] #83 closed, assigned to nobody

[2021-12-20 20:05] cigzigwon commented on #14
@scrogson Is anybody working on a client adapter for Websockets? I was thinking of building an interface to the Websockex lib. I want to implement Hedwig to be our new responder for our flagship app. In our case we don't actually rely on Phoenix Channel spec but just :cowboy_websocket behavior. In theory having a basic :hedwig_websockex adapter would be a starting point? I'm willing to PR but have

[2021-12-20 20:23] cigzigwon commented on #14
Looks like I just need to clone/copy the :hedwig slack lib and remove things besides the connection inteface and then replace :websocket_client w/Websockex, that's what we will do to make this work for our use case regardless... Let me know if you want it PR I will share my repo when I', done w/testing.